<div style="text-align: center;background-color:lightgrey; margin-left: 150px; margin-right: 150px; margin-top: 50px">
<h1>{{title}}</h1>

<form method="post">
<fieldset class="form-group">
<label for="username" class="col-1 control-label">Username: </label>
<input name="username" id="username" required type="email"
placeholder="username"/>
</fieldset>
<fieldset class="form-group">
<label for="password" class="col-1 control-label">Password: </label>
<input name="password" id="password" type="password" required placeholder="password"/>
</fieldset>
<fieldset class="form-group">
<label for="confirm" class="col-1 control-label">Confirm: </label>
<input name="confirm" id="confirm" type="password" required placeholder=" confirm your password"/>
</fieldset>
<fieldset class="form-group">
<button class="btn btn-info offset-2" style="background-color: grey; border: white;  margin-bottom: 50px;">Register</button>
</fieldset>
</form>
</div>